<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- Iconify integration -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <!-- Mailchimp subscription popup integration -->
    <!--    <script id="mcjs">!function (c, h, i, m, p) {-->
    <!--      m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p);-->
    <!--    }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/a16788479a2e767fa32257f66/d164db4c06710eca82f5e4581.js");</script>-->
</head>
<body id="splash-body">
<header id="splash-header">
    <div id="splash-logo">
        &nbsp;
    </div>

    <div id="splash-content">
        {{ content }}
    </div>
</header>

<div id="splash-columns">
    <div id="splash-left">
        <div class="splash-heading">
            Your hosts
        </div>
        <div class="splash-section">
            <a class="splash-host" target="_blank" href="https://aubreyfalconer.com"><img
                    src="/assets/img/splash-profile-aubrey.png" alt="Aubrey Falconer"></a>
            <a class="splash-host" target="_blank" href="https://www.linkedin.com/in/zachdoty/"><img
                    src="/assets/img/splash-profile-zach.png" alt="Zach Doty"></a>
        </div>
    </div>

    <div id="splash-right">
        <div class="splash-heading">
            Watch/listen
        </div>
        <div class="splash-section">
            <a class="splash-item" target="_blank" href="https://www.youtube.com/channel/UCLNBXeBYUhKjmm45gSWapqA">
                <span class="iconify" data-icon="ant-design:youtube-filled" data-inline="false">
                </span>YouTube
            </a>
            <a class="splash-item disabled" href="#" title="Coming soon!">
                <span class="iconify" data-icon="mdi:podcast" data-inline="false">
                </span>Apple Podcasts
            </a>
            <a class="splash-item disabled" href="#" title="Coming soon!">
                <span class="iconify" data-icon="mdi:spotify" data-inline="false">
                </span>Spotify
            </a>
            <a class="splash-item disabled" href="#" title="Coming soon!">
                <span class="iconify" data-icon="mdi:rss-box" data-inline="false">
                </span>Pod RSS
            </a>
        </div>

        <div class="splash-heading">
            Join us
        </div>
        <div class="splash-section">
            <a class="splash-item" target="_blank" href="http://wiki.supcog.me">
                <span class="iconify" data-icon="mdi:tree" data-inline="false">
                </span>Wiki
            </a>
            <a class="splash-item" target="_blank" href="https://discord.gg/XvpqET9MK6">
                <span class="iconify" data-icon="mdi:discord" data-inline="false">
                </span>Discord
            </a>
            <a class="splash-item" target="_blank" href="http://eepurl.com/hm3c45">
                <span class="iconify" data-icon="mdi:email-newsletter" data-inline="false">
                </span>Newsletter
            </a>
        </div>

    </div>
</div>

<footer id="splash-footer">
    Copyright © 2021 by Aubrey Falconer & Zach Doty. All rights reserved.
</footer>
</body>
</html>
